SMA-v3.json
[
    {
        "id": "6ed0ccb1c32c5dd7",
        "type": "tab",
        "label": "SMA Inverters",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9eefe217ff682aee",
        "type": "file",
        "z": "6ed0ccb1c32c5dd7",
        "name": "",
        "filename": "C:\\Users\\HP\\Desktop\\SMA_Data_Export\\Battery_SOC\\SMA.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1070,
        "y": 40,
        "wires": [
            [
                "bfefac7ee2d75d95"
            ]
        ]
    },
    {
        "id": "22739ffaf5d6ed79",
        "type": "debug",
        "z": "6ed0ccb1c32c5dd7",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 640,
        "wires": []
    },
    {
        "id": "a92b266cf9c94bfd",
        "type": "file",
        "z": "6ed0ccb1c32c5dd7",
        "name": "",
        "filename": "C:\\Users\\HP\\Desktop\\SMA_Data_Export\\Battery_SOC\\Yield_408.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 630,
        "y": 640,
        "wires": [
            [
                "22739ffaf5d6ed79"
            ]
        ]
    },
    {
        "id": "4ddc344f5143ca53",
        "type": "modbus-getter",
        "z": "6ed0ccb1c32c5dd7",
        "name": "Battery SOC",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "3",
        "dataType": "HoldingRegister",
        "adr": "30845",
        "quantity": "4",
        "server": "01e16d31ad644518",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 290,
        "y": 160,
        "wires": [
            [
                "7c82279bc62ddfd6"
            ],
            []
        ]
    },
    {
        "id": "00efa0ebbf0388e7",
        "type": "inject",
        "z": "6ed0ccb1c32c5dd7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "5aaf7f0634603f3c",
                "5b1f8204d408627b"
            ]
        ]
    },
    {
        "id": "c42e3541167fabda",
        "type": "delay",
        "z": "6ed0ccb1c32c5dd7",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 120,
        "y": 240,
        "wires": [
            [
                "158ebc523e3811e1",
                "cda73a3988c6de57"
            ]
        ]
    },
    {
        "id": "158ebc523e3811e1",
        "type": "modbus-getter",
        "z": "6ed0ccb1c32c5dd7",
        "name": "Sunny Boy 408",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "3",
        "dataType": "HoldingRegister",
        "adr": "30535",
        "quantity": "4",
        "server": "7d6ac1612e26ea04",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 300,
        "y": 240,
        "wires": [
            [
                "4a6cb43a3bc7ab9e"
            ],
            []
        ]
    },
    {
        "id": "3285a4a59426946d",
        "type": "modbus-getter",
        "z": "6ed0ccb1c32c5dd7",
        "name": "Sunny Boy 599",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "30535",
        "quantity": "4",
        "server": "6175793abc4bf883",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 300,
        "y": 320,
        "wires": [
            [
                "2c3b9559eb0d927c"
            ],
            []
        ]
    },
    {
        "id": "cda73a3988c6de57",
        "type": "delay",
        "z": "6ed0ccb1c32c5dd7",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 120,
        "y": 320,
        "wires": [
            [
                "3285a4a59426946d",
                "e76acc1cbb187221"
            ]
        ]
    },
    {
        "id": "62c67b310377cc6d",
        "type": "file",
        "z": "6ed0ccb1c32c5dd7",
        "name": "",
        "filename": "C:\\Users\\HP\\Desktop\\SMA_Data_Export\\Battery_SOC\\Yield_599.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 630,
        "y": 680,
        "wires": [
            [
                "a8b4706f770a9693"
            ]
        ]
    },
    {
        "id": "a8b4706f770a9693",
        "type": "debug",
        "z": "6ed0ccb1c32c5dd7",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 680,
        "wires": []
    },
    {
        "id": "e76acc1cbb187221",
        "type": "delay",
        "z": "6ed0ccb1c32c5dd7",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 120,
        "y": 400,
        "wires": [
            [
                "aca9645ef00372dd"
            ]
        ]
    },
    {
        "id": "aca9645ef00372dd",
        "type": "modbus-getter",
        "z": "6ed0ccb1c32c5dd7",
        "name": "Sunny Boy 677",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "30535",
        "quantity": "4",
        "server": "2ffbaf915e41ef9d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 300,
        "y": 400,
        "wires": [
            [
                "6d06c6e71384607b"
            ],
            []
        ]
    },
    {
        "id": "5ecf56374cd85b30",
        "type": "file",
        "z": "6ed0ccb1c32c5dd7",
        "name": "",
        "filename": "C:\\Users\\HP\\Desktop\\SMA_Data_Export\\Battery_SOC\\Yield_677.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 630,
        "y": 720,
        "wires": [
            [
                "fbe50e2d217c7b6e"
            ]
        ]
    },
    {
        "id": "fbe50e2d217c7b6e",
        "type": "debug",
        "z": "6ed0ccb1c32c5dd7",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 720,
        "wires": []
    },
    {
        "id": "bfefac7ee2d75d95",
        "type": "debug",
        "z": "6ed0ccb1c32c5dd7",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 40,
        "wires": []
    },
    {
        "id": "7c82279bc62ddfd6",
        "type": "split",
        "z": "6ed0ccb1c32c5dd7",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 450,
        "y": 160,
        "wires": [
            [
                "5aaf7f0634603f3c"
            ]
        ]
    },
    {
        "id": "4a6cb43a3bc7ab9e",
        "type": "split",
        "z": "6ed0ccb1c32c5dd7",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 450,
        "y": 240,
        "wires": [
            [
                "5aaf7f0634603f3c"
            ]
        ]
    },
    {
        "id": "5aaf7f0634603f3c",
        "type": "join",
        "z": "6ed0ccb1c32c5dd7",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "17",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 600,
        "y": 40,
        "wires": [
            [
                "df63374d9b4afd51"
            ]
        ]
    },
    {
        "id": "2c3b9559eb0d927c",
        "type": "split",
        "z": "6ed0ccb1c32c5dd7",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 450,
        "y": 320,
        "wires": [
            [
                "5aaf7f0634603f3c"
            ]
        ]
    },
    {
        "id": "6d06c6e71384607b",
        "type": "split",
        "z": "6ed0ccb1c32c5dd7",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 450,
        "y": 400,
        "wires": [
            [
                "5aaf7f0634603f3c"
            ]
        ]
    },
    {
        "id": "df63374d9b4afd51",
        "type": "csv",
        "z": "6ed0ccb1c32c5dd7",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "mult",
        "ret": "\\n",
        "temp": "Time,,SOC,,,,SB 408,,,,SB 599,,,,SB 677,,",
        "skip": "1",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": true,
        "x": 750,
        "y": 40,
        "wires": [
            [
                "9eefe217ff682aee"
            ]
        ]
    },
    {
        "id": "5b1f8204d408627b",
        "type": "delay",
        "z": "6ed0ccb1c32c5dd7",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 120,
        "y": 160,
        "wires": [
            [
                "c42e3541167fabda",
                "4ddc344f5143ca53"
            ]
        ]
    },
    {
        "id": "01e16d31ad644518",
        "type": "modbus-client",
        "name": "Sunny Island",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "169.254.43.70",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 3,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": false,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "7d6ac1612e26ea04",
        "type": "modbus-client",
        "name": "Sunny Boy 408",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "169.254.177.213",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "6175793abc4bf883",
        "type": "modbus-client",
        "name": "Sunny Boy 599",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "169.254.189.127",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 3,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": false,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "2ffbaf915e41ef9d",
        "type": "modbus-client",
        "name": "Sunny Boy 677",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "169.254.182.103",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 3,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    }
]